html {
  scroll-behavior: smooth;
}

@font-face {
  font-family: 'bold';
  src: url("../font/LibreBaskerville-Bold.ttf");
}

@font-face {
  font-family: 'regular';
  src: url("/font/OpenSans-VariableFont_wdth\,wght.ttf");
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: regular;
  font-size: 2.5vw;
  background-color: #000000;
}

.buttons button {
  background-color: #e63946;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 15px 30px;
  font-size: 1.2rem;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
  margin: 0 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.buttons button:hover {
  background-color: #d62839;
}

.buttons button:active {
  background-color: #c1272d;
}

#sound-btn {
  font-size: 40px;
}

section {
  height: 100vh;
  scroll-margin: 140px;
}

section:nth-child(even) {
  background-color: rgb(0, 0, 0);
}

section:first-child {
  margin-top: 0;
}

.container,
.profile,
.container2 {
  padding: 0px 50px;
}

.profile {
  width: 30vw;
}

.container img,
.container2 img {
  width: 25vw;
  margin: 5px;
}

.container2 {
  text-align: center;
}


nav {
  background-color: rgba(0, 0, 0, 0.7);
  width: 100%;
  position: fixed;
  top: 0;
  font-family: 'regular';
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: left;
  z-index: 100;
  padding-left: 50px;
}

a {
  text-decoration: none;
  color: rgb(255, 255, 255);
  margin: 0 20px;
}

#nav-logo {
  border: none;
  background-color: transparent;
  padding-right: 200px;
  margin: 0;
}

nav img {
  height: 200px;
}

nav a {
  margin: 30px;
  margin-bottom: 0;
  padding: 20px;
  font-size: 2vw;
}

nav a:hover {
  color: #0a3f99;
  background-color: white;
}

#review {
  height: 40vw;
}

#home h1 {
  margin-top: 0;
}

#home {
  background-image: url(../images/pink_1200x.jpg);
  background-size: cover;
  /* to set background image to cover the entire viewport */
  background-position: center;
  /* to center the background image */
  background-repeat: no-repeat;
  /* to prevent background image from repeating */
  margin: 0;
  padding-left: 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;

}

.content-wrapper {
  display: flex;
  align-items: left;
  justify-content: left;
  padding-top: 300px;
}

.image {

  justify-content: center;
  padding-left: 50px;
}

.text {
  font-size: 3.5vw;
  padding-right: 50px;
  line-height: 1.5;
  padding-top: 15px;
  margin-bottom: 20px;
  font-family: 'bold';

}

h1 {
  color: white;
  margin: 0;
}

h2 {
  color: white;
  margin: 0;
}


p {
  text-align: center;
}

#product {
  scroll-margin-top: 200px;
  text-align: center;
  height: 60vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('/images/bg\ pub.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

}



#product h1 {
  margin: 50px;
  margin-top: 0;
  padding-top: 50px;
  z-index: 2;
}

.product-text {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 50px;
  padding-right: 50px;

}

.product-text h3 {
  flex: 0 20 25%;
  text-align: center;
  margin: 5px;
  padding: 0;
}



.learn-more a {
  color: #FEBD12;
  font-size: 2vw;
  margin: 0px;
  border-radius: 10px;
  background-color: rgb(0, 0, 0);
  width: 15vw;
  font-family: 'regular';
  text-align: left;
}

.learn-more p {
  text-align: left;

}

.learn-more {
  text-align: left;
}

.overlayer {
  display: flex;
  padding-top: 20px;
}

.overlayer img {
  width: 100%;
  height: auto;
  margin: 30px;

}

.overlayer p {
  text-align: left;
  font-size: 2vw;
  color: #000000;
  justify-content: center;
}


.container2 img,
.container img {
  border-radius: 10px;
  border: solid 0.2vw #7ebfcd;
  width: 17vw;
}


#contact h2 {
  color: white;
  text-align: center;
  padding: 50px;
}

footer {
  background-color: #000;
  color: #fff;
  padding: 40px 20px;
  font-family: Arial, sans-serif;
  text-align: left;
}

footer p,
.footer-links a {
  text-align: left;
  margin: 0;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto;
}

.footer-logo,
.footer-locations,
.footer-links {
  flex: 1;
  padding: 0 20px;
}

.footer-logo img {
  width: 200px;
  margin-bottom: 10px;
}

.footer-locations h4,
.footer-links h4 {
  font-size: 18px;
  margin-bottom: 10px;
}

.footer-locations p,
.footer-links a {
  font-size: 14px;
}

.footer-links a {
  color: #fff;
  text-decoration: none;
  display: block;
  margin-bottom: 5px;
}

.footer-links a:hover {
  text-decoration: underline;
}


/*------------------------------*/

.container2 {
  max-width: 1200px;
  margin: auto;
  padding-top: 50px;
  background-color: #000000;
  height: 115vh;
}

.grid {
  display: grid;
  grid-template-columns: repeat(9, 2fr);
  grid-template-rows: 350px;
  gap: 15px;


}

.item1 {
  grid-row: 1;
  grid-column: span 6;
  background-image: url(/images/sin_gin_range_1200x.progressive.webp);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.item2 {
  grid-row: 1;
  grid-column: span 3;
  background-image: url(/images/lemon.webp);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.item3,
.item4,
.item5 {
  height: 300px;
}

.item3,
.item4 {
  grid-row: 2;
  grid-column: span 2;
}


.item3 {
  background-image: url(/images/show.webp);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.item4 {
  background-image: url(/images/original.jpeg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.item5 {
  grid-row: 2;
  grid-column: span 5;

}


.grid-item {
  background-color: #000000;
  color: #fff;
  padding: 20px;
  text-align: center;
  border-radius: 5px;
  /* Rounded corners */
}

.grid-item img {
  width: 100%;
  height: auto;
}

.item1 {
  border: 2px solid #e74c3c;
}

.item2 {
  border: 2px solid #9b59b6;
}

.item3 {
  border: 2px solid #2980b9;
}

.item4 {
  border: 2px solid #f1c40f;
}

.item5 {
  border: 2px solid #27ae60;
}



iframe {
  width: 100%;
  height: 100%;
  border: none;
}

.story {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(/images/both.jpg);
  background-size: cover;
  background-position: top center;
  background-repeat: no-repeat;
  border: 2px solid #f39c12;
  padding: 20px;
  border-radius: 5px;
  margin-top: 20px;
  text-align: center;
}

.story h2 {
  margin-bottom: 10px;
  font-family: 'bold';
}

.story p {
  color: #fff;
  font-family: 'regular';
  font-size: 2vw;
}




/*
Card Flip tutorial
https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_flip_card
*/

#flippy {
  display: grid;
  grid-template-columns: repeat(4, 250px);
  /* Four columns of 250px each */
  background-color: transparent;
  height: 260px;
  margin: 40px auto;
  /* Centers the grid horizontally */
  padding-top: 40px;
  justify-content: center;
  /* Centers the grid items horizontally */
  align-items: center;
  /* Centers the grid items vertically */
  gap: 100px;
  /* Adds space between grid items */
}


.flip-card {
  background-color: transparent;
  background-image: url(../images/sin\ gin\ circle.jpg);
  background-size: cover;
  /* Set background image to cover the entire viewport */
  background-position: center;
  /* Center the background image */
  background-repeat: no-repeat;
  /* Prevent background image from repeating */
  width: 250px;
  height: 250px;
  perspective: 1000px;
  border: solid #FEBD12;
  border-radius: 10px;
  justify-content: center;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;

}

.flip-card-front {
  background-color: #ffffff;
  color: black;
}

.flip-card-back {
  background-color: #000000;
  color: white;
  transform: rotateY(180deg);
  align-content: center;
}

.flip-card-back p {
  font-size: 1vw;
  margin-top: 0;
  justify-content: center;
}

.flip-card-front img {
  width: 250px;
  height: 250px;
}

.flip-card h3 {
  font-size: 1.5vw;
  margin: 10px;
  margin-bottom: 0;
}

/*-------------------------*/

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(/images/age\ check.webp);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.overlay p {
  color: white;
}

.age-verification {
  background-color: rgba(0, 0, 0, 0.6);
  border: 4px solid #FFC107;
  padding: 20px 40px;
  text-align: center;
  border-radius: 10px;
  max-width: 600px;
}

.logo img {
  width: 400px;
  height: 250px;
  padding: 0;
  margin: 0;
}





.container3 {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.carousel {
  width: 800px;
  height: 500px;
  display: inline-flex;
  /* Use one display property */
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
}

.carousel button {
  outline: none;
  background-color: white;
  border: 0;
  border-radius: 25px;
  width: 25px;
  height: 25px;
  color: black;
  cursor: pointer;
  box-shadow: 0 2px 10px 0px #333;
  display: flex;
  justify-content: center;
  align-items: center;
}

.carousel-progress {
  width: 100%;
  position: absolute;
  top: 0;
}

.carousel-progress .inner {
  width: 0%;
  height: 5px;
  background: red;
  animation: progressbar linear;
}

.carousel-navigator {
  z-index: 99;
  position: absolute;
  bottom: 5px;
}

.carousel-slide {
  width: auto;
  opacity: 0;
  max-width: 100%;
  transition: 0.3s opacity linear;
  overflow: hidden;
  position: absolute;
}

.carousel-slide img {
  width: 100%;
}

.carousel-slide.active {
  opacity: 1;
}

.carousel-previous {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translate(0%, -50%);
}

.carousel-next {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translate(0%, -50%);
}

@keyframes progressbar {
  0% {
    width: 0%;
  }

  100% {
    width: 100%;
  }
}

/*--------------------------*/

@media only screen and (max-width: 1024px) {

  body {
    font-size: 3vw;
  }

  nav img {
    width: 250px;
    height: auto;
    padding-right: 50px;
    margin-left: 20px;
  }

  nav {
    padding-left: 10px;
  }

  #nav-logo {
    padding-right: 0;
  }

  nav a {
    margin-bottom: 0;
    font-size: 3vw;
    padding: 5px;
    text-align: right;
  }

  .content-wrapper {
    padding-top: 100px;
  }

  .text {
    font-size: 4vw;
    margin: 0px;
  }

  .learn-more a {
    font-size: 3vw;
    margin: 0px;
  }

  .learn-more {
    margin: 2px;
  }

  #flippy {
    display: flex;
    margin-right: 0px;
    padding-top: 50px;
    height: 100px;
    gap: 50px;
  }

  .flip-card {
    width: 200px;
    height: 200px;
  }

  .flip-card-front img {
    width: 200px;
    height: 200px;
    margin-left: 0px;
  }


  #home {
    height: 100vh;
  }

  #review {
    height: 50vh;
  }

  #product {
    height: 50vh;
  }

  #footer {
    height: 30vh;
  }

  .container2 {
    height: 100vh;
  }


  #product h1 {
    margin: 0;
    font-size: 4vw;
  }

  .grid {
    grid-template-rows: 250px;
  }

  .item1 {
    height: 200px;
  }

  .item2 {
    height: 200px;
  }

  .item5,
  .item4,
  .item3 {
    height: 200px;
  }

  .story {
    height: 250px;
  }

  .story p {
    font-size: 2vw;
  }

  .carousel {
    height: 400px;
    width: 700px;
  }

  .carousel-slide img {
    width: 100%;
  }

  .carousel-slide {
    text-align: center;
  }

  .footer-logo img {
    margin-bottom: 10px;
  }

  .footer-container {
    display: flex;
    justify-content: space-between;
    max-width: 1000px;
    margin: 0 auto;
    gap: 10px;
  }

  .footer-locations h4,
  .footer-links h4 {
    font-size: 2vw;
    margin-bottom: 10px;
  }

  .footer-locations p,
  .footer-links a {
    font-size: 1.5vw;
    margin-bottom: 10px;
  }

  .footer-logo,
  .footer-locations,
  .footer-links {
    flex: 1;
    padding: 0 5px;
  }

  .age-verification {
    background-color: rgba(0, 0, 0, 0.6);
    border: 4px solid #FFC107;
    padding: 20px 40px;
    text-align: center;
    border-radius: 10px;
    max-width: 600px;
    height: 300px;
  }

  .logo img {
    width: 200px;
    height: 125px;
    padding: 0;
    margin: 0;
  }


}

/* ===== MOBILE: Media queries for small mobile resolution. ===== */
@media only screen and (max-width: 740px) {
  body {
    font-size: 3vw;
  }

  nav img {
    width: 150px;
    height: auto;
    padding-right: 50px;
  }

  nav {
    padding-left: 10px;
  }

  #nav-logo {
    padding-right: 0;
  }

  nav a {
    margin-bottom: 0;
    font-size: 3vw;
    padding: 10px;
    text-align: right;
  }

  .content-wrapper {
    padding-top: 100px;
  }

  .text {
    font-size: 4vw;
    margin: 0px;
  }

  .learn-more a {
    font-size: 3vw;
    margin: 0px;
  }

  .learn-more {
    margin: 2px;
  }

  #flippy {
    display: flex;
    margin-right: 0px;
    padding-top: 0;
    height: 100px;
    gap: 50px;
  }

  .flip-card {
    width: 100px;
    height: 100px;
  }

  .flip-card-front img {
    width: 100px;
    height: 100px;
    margin-left: 0px;
  }


  #home {
    height: 100vh;
  }

  #review {
    height: 90vh;
  }

  #gridbox {
    height: 250vh;
  }

  #product {
    height: 80vh;
  }

  #footer {
    height: 30vh;
  }

  .container2 {
    height: 220vh;
  }


  #product h1 {
    margin: 0;
    font-size: 4vw;
  }

  .grid {
    grid-template-rows: 250px;
  }

  .item1 {
    height: 200px;
  }

  .item2 {
    height: 200px;
  }

  .item5,
  .item4,
  .item3 {
    height: 150px;
  }

  .story {
    height: 200px;
  }

  .story p {
    font-size: 2vw;
  }

  .carousel {
    height: 300px;
    width: 600px;
  }

  .carousel-slide img {
    width: 80%;
  }

  .carousel-slide {
    text-align: center;
  }

  .footer-logo img {
    width: 150px;
    margin-bottom: 10px;
  }

  .footer-container {
    display: flex;
    justify-content: space-between;
    max-width: 700px;
    margin: 0 auto;
  }

  .footer-locations h4,
  .footer-links h4 {
    font-size: 3vw;
    margin-bottom: 10px;
  }

  .footer-locations p,
  .footer-links a {
    font-size: 2vw;
    margin-bottom: 10px;
  }

  .footer-logo,
  .footer-locations,
  .footer-links {
    flex: 1;
    padding: 0 5px;
  }

  .age-verification {
    background-color: rgba(0, 0, 0, 0.6);
    border: 4px solid #FFC107;
    padding: 20px 40px;
    text-align: center;
    border-radius: 10px;
    max-width: 600px;
    height: 300px;
  }

  .logo img {
    width: 200px;
    height: 125px;
    padding: 0;
    margin: 0;
  }


}


@media only screen and (max-width: 360px) {

  body {
    font-size: 3vw;
  }

  nav img {
    width: 100px;
    height: auto;
    padding-right: 20px;
  }

  nav {
    padding-left: 10px;
  }

  #nav-logo {
    padding-right: 0;
  }

  nav a {
    margin: 0px;
    margin-bottom: 0;
    font-size: 3vw;
    padding: 7px;
  }

  .content-wrapper {
    padding-top: 0;
  }

  .text {
    font-size: 6vw;
  }

  .learn-more a {
    font-size: 5vw;
  }

  #flippy {
    display: inline-block;
    margin-right: 15px;
    padding-top: 0px;
    height: 100px;
    margin-top: 10px;

  }

  .flip-card {
    width: 100px;
    height: 100px;
    margin: 10px;
  }

  .flip-card h3 {
    font-size: 3vw;
  }

  .flip-card-front img {
    width: 100px;
    height: 100px;
    margin-left: 0px;
  }

  #home {
    height: 100vh;
  }

  #review {
    height: 50vh;
  }

  #gridbox {
    height: 250vh;
  }

  #product {
    height: 80vh;
  }

  #footer {
    height: 30vh;
  }

  .container2 {
    height: 230vh;
  }


  #product h1 {
    margin: 0;
    font-size: 5vw;
  }

  .grid {
    display: block;
  }

  .item1 {
    height: 100px;
  }

  .item2 {
    height: 300px;
  }

  .item5 {
    height: 150px;
  }

  .story {
    height: 220px;
  }

  .story p {
    font-size: 3vw;
  }

  .carousel {
    height: 300px;
    width: 360px;
  }

  .carousel-slide img {
    width: 80%;
  }

  .carousel-slide {
    text-align: center;
  }

  .footer-logo img {
    width: 50px;
    margin-bottom: 10px;
  }

  .footer-container {
    display: flex;
    justify-content: space-between;
    max-width: 360px;
    margin: 0 auto;
  }

  .footer-locations h4,
  .footer-links h4 {
    font-size: 3vw;
    margin-bottom: 10px;
  }

  .footer-locations p,
  .footer-links a {
    font-size: 2vw;
  }

  .footer-logo,
  .footer-locations,
  .footer-links {
    flex: 1;
    padding: 0 5px;
  }

  .age-verification {
    background-color: rgba(0, 0, 0, 0.6);
    border: 4px solid #FFC107;
    padding: 20px 40px;
    text-align: center;
    border-radius: 10px;
    max-width: 300px;
  }

  .logo img {
    width: 200px;
    height: 125px;
    padding: 0;
    margin: 0;
  }




}